
#stage{
    position:relative;
    width:600px;
    height: 600px;
    background-color: rgb(243, 237, 237);
    margin:30px auto 50px auto;
    
}
.dashed{
    position: absolute;
    width:590px;
    height: 590px;
    margin:5px;
    border: 1px dashed gray;
    float: left;
    
}
#hero{
    position:relative;
    width: 75px;
    height: 75px;
    margin-top:10px;
    margin-left:10px;
    border:1px dashed red;
    animation: 5s moveForward 0s forwards, 2s moveDown 5s forwards, 0.5s moveMiddle 7s forwards,
    2s stayMiddle 7.5s forwards, 2.5s moveLeft 9.5s forwards, 5s moveCorner 12s forwards;
    animation-timing-function: linear;
    animation-iteration-count:1;
       
}
@keyframes moveForward{
    from {
        left:0px;
    }
    to{
        left:495px;
    }  
  }
  @keyframes moveDown{
      from{
         top:0px;
      }
      to{
        top:220px;
      }
  }
  @keyframes moveMiddle{
      from{
          left:495px;
          transform: rotate(0deg);
      }
      to{
        left:257px;
        transform: rotate(45deg);
      }
  }
  @keyframes stayMiddle{
      from{
        left:257px;
        transform: rotate(45deg);
      }
      to{
        left:257px;
        transform: rotate(45deg);
      }
  }
  @keyframes moveLeft{
      from{
        left:257px;
      }
      to{
          left:0px;
          transform: rotate(0deg);
          border:1px dashed #0900BD;
      }
  }
  @keyframes moveCorner{
      from{
        left:0px;
        border:1px dashed #0900BD;
      }
      to{
          top:425px;
          left:425px;
          width:150px;
          height:150px;
          border-radius:50%;
          background:radial-gradient(#F76B1C,#FBDA61);
          border:none;
      }
  }

  